// Importación de fuentes de Google
@import url('https://fonts.googleapis.com/css2?family=Ubuntu&display=swap');

// Variables
$color-primary: blue;
$color-violeta: blueviolet;
$color-rosa: rgb(216, 120, 139);
$color-rojo: red;
$color-amarillo: yellow;
$color-oscuro: #231f20;
$color-blanco:white;

// Mixin para animación de cambio de color
@mixin color-change-animation {
  animation: color-change 3s infinite alternate;
  color: $color-primary;
  font-size: 30px;
}

// Mixin para animación de entrada de título
@mixin slidein-animation {
  animation: slidein 3s 1 alternate;
}

// Estilos generales
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Ubuntu", sans-serif;
}

h1 {
  color: $color-primary;
  background-color: $color-amarillo;
  width: 380px;
  @include slidein-animation;
}

h2 {
  margin: 10px;
}

section {
  article {
    h3 {
      color: $color-rojo;
    }
  }
}
header{
  background-color: $color-oscuro;
}
// Animación de cambio de color
@keyframes color-change {
  from { color: $color-primary; font-size: 30px; }
  to { color: $color-oscuro; font-size: 32px; }
}

// Animación de entrada de título
@keyframes slidein {
  from {
    margin-left: 100%;
    width: 300%;
  }
  to {
    margin-left: 0%;
    width: 100%;
  }
}

// Estilos específicos para dispositivos móviles
@media screen and (max-width: 480px) {
  .imagenes {
    width: 100%;
  }
  .titulo {
    width: 100%;
    @include color-change-animation;
  }
  .section {
    flex-direction: column;
  }
  .tituloHeader {
    flex-wrap: wrap;
  }
  .tituloHeader > div {
    margin-bottom: 10px;
  }
  .navbar-collapse {
    flex-direction: column;
  }
  .navbar-nav {
    width: 100%;
    text-align: center;
  }
  .navbar-nav li {
    margin-right: 0;
  }
  .navbar-nav li a {
    padding: 10px;
  }
  footer {
    flex-direction: column;
  }
  .tituloHeader {
    justify-content: center;
  }
  .footerSection {
    border-right: 0px;
  }
}

// Estilos específicos de elementos
.tituloHeader {
  background-color: $color-oscuro;
  display: flex;
  justify-content: space-between;
  align-items: center;
  align-content: center;
  flex-wrap: nowrap;
  flex-direction: row;
  padding-left: 5%;
  padding-right: 5%;
}

.art-contacto {
  padding: 2%;
  color: dimgray;
}

.divImg {
  display: flex;
  justify-content: center;
}

.img-nosotros {
  width: 50%;
  margin: 0;
}

.categorias {
  display: flex;
  flex-direction: column-reverse;
  flex-wrap: wrap;
  justify-content: space-evenly;
  border: solid;
  border-color: $color-oscuro;

  ul {
    display: flex;
    align-items: center;
    justify-content: space-around;
  }

  li {
    margin-right: 10px;
  }
}

.titulo {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
  width: 70%;
  @include slidein-animation;
}

.productos {
  animation-duration: 3s;
  animation-name: color-change;
  animation-iteration-count: infinite;
  animation-direction: alternate;

  color: $color-primary;

  display: flex;
  justify-content: center;
  align-items: center;
}
.imagenes {
  width: 32%;
  padding: 10px;
  border: solid;
  margin-bottom: 10px;
}
p {
  margin: 10px;
}
footer {
  color: $color-blanco;
  display: flex;
  flex-direction: row;
  align-content: stretch;
  justify-content: space-around;
  align-items: flex-start;
  background-color: $color-oscuro;

 
  .footerSection {
    border: solid;
    border-top: 0px;
    border-left: 0px;
    border-bottom: 0px;
    padding-right: 35px;
  }
  .navbar-expand-lg .navbar-collapse {
    display: flex !important;
    flex-basis: auto;
    align-items: center;
    justify-content: space-evenly;
    align-content: center;
    flex-wrap: wrap;
    flex-direction: column;
  }

  .navbar {
    --bs-navbar-nav-link-padding-x: 1.5rem !important;
  }
  
  
}
@keyframes slidein {
  from {
    margin-left: 100%;
    width: 300%;
  }
  to {
    margin-left: 0%;
    width: 100%;
  }
}

@keyframes color-change {
  from {
    color: $color-primary;
    font-size: 30px;
  }
  to {
    color: black;
    font-size: 32px;
  }
}
.formulario {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-left: 10px;
}
.section {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  align-content: space-between;
  flex-direction: row;
  flex-wrap: wrap;

  img {
    width: 100%;
  }

  

 

  .itemCategorias a {
    text-decoration: none;
    color: $color-amarillo;
  }

  

  label {
    padding: 10px;
  }

  .botonSubmit {
    padding: 10px;
    margin: 10px;
  }

  h5 {
    color: $color-rojo !important;
    text-align: center;
  }

  button {
    text-align: center;
  }

  h2 {
    margin: 10px;
  }

 
}
.color-violeta {
  color: $color-violeta;
}

.color-rosa {
  color: $color-rosa;
}

.color-rojo {
  color: $color-rojo;
}
@media screen and (max-width: 480px) {
  .imagenes {
    width: 100%;
  }
  .titulo {
    width: 100%;
    @include color-change-animation;
  }
  .section {
    flex-direction: column;
  }
  .tituloHeader {
    flex-wrap: wrap;
  }
  .tituloHeader > div {
    margin-bottom: 10px;
  }
  .navbar-collapse {
    flex-direction: column;
  }
  .navbar-nav {
    width: 100%;
    text-align: center;
  }
  .navbar-nav li {
    margin-right: 0;
  }
  .navbar-nav li a {
    padding: 10px;
  }
  footer {
    flex-direction: column;
  }
  .tituloHeader {
    justify-content: center;
  }
  .footerSection {
    border-right: 0px;
  }
}